<div class="topwrap">
  <div class="topcontents">
    <h2 class="bold">ようこそ Bookersへ！</h2>
    <p class="topbody"><span class="bold">Bookers</span>では、さまざまな書籍に関するあなたの意見や
    </p>
    <br>
    <p class="topbody">印象を共有し交換することができます
    </p>
    <br>

    <%= link_to "start",books_path,class:"topbody" %>
  </div>
</div>